<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Assign Territory</h3>
</div>

<div class="modal-body">
  <form id="assign-representative" name="representative">
    <select id="available-reps" name="normalSelect" size="5">
      <option disabled="disabled">No sales representatives</option>
    </select>

    <div class="actions">
      <input type="submit" value="Assign Territory" class="btn" />
      <a href="representatives/import">Rep not listed?</a>
    </div>
  </form>
</div>
