<h1>Listing regions</h1>

<table id="regions-table">
  <tr>
    <th>Name</th>
    <th>Fipscode</th>
    <th>Coords</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Region</a>