<h1>New region</h1>

<form id="new-region" name="region">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="fipscode"> fipscode:</label>
    <input type="text" name="fipscode" id="fipscode" value=<%= fipscode %> >
  </div>

  <div class="field">
    <label for="coords"> coords:</label>
    <input type="text" name="coords" id="coords" value=<%= coords %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Region" />
  </div>

</form>

<a href="#/index">Back</a>