<h1>New representatives</h1>

<div class="well">
  <%= form_for :upload do |f| %>
    <fieldset>
      <legend>Representatives File Import</legend>
      <%= f.file_field :csv, :class => 'input-file' %>
      <p class="help-block">Only .CSV files with the following columns: FirstName, LastName</p>
      <div class="form-actions">
        <%= f.submit 'Import', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class="well">
  <%= render 'form' %>
</div>
