<h1>Upload Sales Team</h1>

<div class="well">
  <%= form_tag upload_representatives_path do %>
    <fieldset>
      <p class="help-block">Copy and paste the names of your sales team. Enter one name per line.</p>
      <%= text_area_tag :representatives, nil, :class => 'input-xlarge', :rows => 8 %>
      <div class="form-actions">
        <%= submit_tag 'Add', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>
</div>
