<h3>Edit territory</h3>

<form id="edit-territory" name="territory" class="form-stacked">
  <div class="clearfix">
    <div class="input">
      <input type="text" name="name" id="name" value=<%= name %> >
    </div>
  </div>

  <ul id="selected-states"></ul>

  <div class="actions">
    <input type="submit" value="Update Territory" class="btn" />
    <a class="btn" data-controls-modal="assign-rep"
data-backdrop="true" data-keyboard="true">Assign Territory</a>
    <a class="destroy btn">Delete Territory</a>
  </div>

</form>

<a class="cancel">Cancel</a>

<div id="assign-rep" class="modal hide fade">
  <div class="modal-header">
    <h3>Assign the territory</h3>
  </div>

  <div class="modal-body">
    <form id="assign-rep" name="rep">
      <div class="clearfix">
        <div class="input">
          <select id="available-reps" name="normalSelect" size="5">
            <option disabled="disabled">No sales representatives</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="actions">
    <input type="submit" value="Assign Territory" />
  </div>
</div>
