<h3>Edit territory</h3>

<form id="edit-territory" name="territory" class="form-stacked">
  <div class="clearfix">
    <div class="input">
      <input type="text" name="name" id="name" value=<%= name %> >
    </div>
  </div>

  <div class="actions">
    <input type="submit" value="Update Territory" class="btn" />
  </div>

</form>

<a href="#">Cancel</a>
