<h3>Edit territory</h3>

<form id="edit-territory" name="territory" class="well">
  <input type="text" name="name" id="name" value=<%= name %> >

  <ul id="selected-regions"></ul>

  <div class="form-actions">
    <input type="submit" value="Update Territory" class="btn" />
    <a class="btn" data-controls-modal="assign-rep-form"
data-backdrop="true" data-keyboard="true">Assign Territory</a>
    <a class="destroy btn">Delete Territory</a>
  </div>

</form>

<a class="cancel">Cancel</a>
