<div id="saved" class="well">
<div class="tip">
  <a href="#" rel="tooltip" data-original-title="Display territories you have created and saved. Click 'assign rep' to assign it.">
    <i class="icon-question-sign"></i>
  </a>
</div>
<ul id="territories" class="nav nav-list">
<li class="nav-header">Saved Territories</li>
</ul>
</div>
<div id="new" class="well">
<div class="tip">
  <a href="#" rel="tooltip" title="Display all the states in a territory">
    <i class="icon-question-sign"></i>
  </a>
</div>
<ul id="selected-regions" class="nav nav-list">
<li class="nav-header">Selected Regions</li>
</ul>

<div id="map-buttons" class="hide">
  <button href="#territory-form" id="save-select" class="btn btn-primary" data-toggle="modal" data-backdrop="true" data-keyboard="true">Save Territory</button>
  <button id="reset-map" class="btn">Clear Selected Regions</button>
</div>
</div>
