<div id="saved" class="well">
<ul id="territories" class="nav nav-list">
<li class="nav-header">Saved Territories</li>
</ul>
</div>
<div id="new" class="well">
<ul id="selected-states" class="nav nav-list">
<li class="nav-header">Selected Regions</li>
</ul>
</div>
