<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>New Territory</h3>
</div>

<div class="modal-body">
<form id="new-territory" name="territory">
  <div class="clearfix">
    <label for="name"> name:</label>
    <div class="input">
      <input type="text" name="name" id="name" value=<%= name %> >
    </div>
  </div>

  <div class="actions">
    <input type="submit" value="Create Territory" />
  </div>

</form>

</div>
