<div id="stats" class="well">
  <h6>Territory Statistics</h6>
  <dl class="dl-horizontal">
    <dt>Population</dt>
    <dd id="population"></dd>
    <dt>Business Population</dt>
    <dd id="biz-pop"></dd>
  </dl>
</div>
