<div id="territory-data" class="row-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="5">Click a territory to view it's data.</td></tr>
    </tbody>
  </table>
</div>
