<div id="stats" class="well">
  <h6>Territory Statistics</h6>
  <table class="table table-condensed">
    <tr><th id="territory-name" colspan="2"></td></tr>
    <tr>
      <th>Population</th><td id="population"></td>
    </tr>
    <tr>
      <th>Business Population</th><td id="biz-pop"></td>
    </tr>
  </table>
</div>
