<div class="header">
  <a class="toggle"><i class="icon-plus-sign"></i> <%= name %></a>
  <span class="rep"> - 
    <a class="assign" href="#assign-rep-form" data-toggle="modal" data-backdrop="true" data-keyboard="true">(assign rep)</a>
  </span> <a class="edit">Edit</a>
</div>
