<tr><td colspan="5"><h5>Territory Opportunity Data</h5></td></tr>
<tr>
  <th><a name="name">Name</a></th>
  <th><a name="address">Address</a></th>
  <th><a name="city">City</a></th>
  <th><a name="state">State</a></th>
  <th><a name="zipcode">Zipcode</a></th>
</tr>
