<div id="territory-data" class="row-fluid">
  <div id="opportunity-count"></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th name="name">Name</th>
        <th name="address">Address</th>
        <th name="city">City</th>
        <th name="state">State</th>
        <th name="zipcode">Zipcode</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="5">No data to display. <a href="opportunities/import">Add Records</a></td></tr>
    </tbody>
  </table>
</div>
