<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h5>Your CSV file has been processed. Click below to begin using your new data:</h5>
    <p><%= link_to 'My Opportunities', opportunities_url(:host => 'beta.mapbadger.com') %>
  </body>
</html>
