<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>A new customer CSV file has been uploaded:</h3>
    <p><%= link_to 'Download the customer file', @url %></p>
    <p>Once the file has been geocoded, upload the file <%= link_to 'here', admin_opportunities_import_url(:host => 'beta.mapbadger.com') %>
  </body>
</html>
