<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>I Wish Submission</h3>
    <h5>URL:</h5>
    <p><%= @url %></p>
    <h5>Message:</h5>
    <p><%=h @message %></p>
  </body>
</html>
