html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
body.map .content { padding: 0; }
.container-fluid, .content, #map-container, #map-canvas { height: 100%; }
.container-fluid { padding: 0; }
.container-fluid > .sidebar {
  top: 0;
  left: 0;
  position: absolute;
  width: 240px;
  height: 100%
}
.sidebar, .content { margin-top: 40px; }
.sidebar {
  z-index: 2; 
  border: 1px solid #ccc;
  background: rgba(248,248,248, 0.9);
  -webkit-box-shadow: 0 5px 5px 0 rgba(100,100,100,0.6);
  -moz-box-shadow: 0 5px 5px 0 rgba(100,100,100,0.6);
  box-shadow: 0 5px 5px 0 rgba(100,100,100,0.6);
  position: relative;
  padding: 0 2px 0 5px;
  form { padding: 0; }
  ul { padding-left: 25px; }
}
#sidebar-tab-content { padding: 0 15px; }
#map-container { position: fixed; width: 100%; }
#map-container .well { margin-bottom: 0; }
#map-buttons { position: absolute; bottom: 30px; }
select#available-reps { height: auto; }
ul#territories { 
  margin: 0; padding: 5px 5px 5px 0;
  li {
    margin: 1px;
    padding: 3px 5px;
    cursor: pointer;
    position: relative;
    list-style: none;
    a {margin: 0 3px 2px 0;}
    span.toggle {
      width: 13px;
      height: 11px;
      margin:3px 7px 0 0;
      float: left;
      background:url(toggle.png) no-repeat 0 0;
    }
    span.minus {background-position:0 -11px;}
    span.edit {display: none; color: #00CC33;}
    span.show {display: inline;}
    ul {
      margin:0; padding:0 0 5px 21px;
      li {padding:0 5px;}
    }
  }
}
