html { height: 100% }
body { height: 100%; margin: 0px; padding: 60px 0 40px; }
.navbar .nav > li.current, .nav li.info > p {
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background-color: #222222;
}
.navbar .nav li.info > p { margin: 0; color: #BCE8F1; }
.tip { float: right; }
#map-content.container-fluid, #map-content > div.row-fluid, #content, #map-canvas { height: 100%; }
#map-container #territory-data { width: 98% }
#map-container { 
  position: relative;
  .well { margin-bottom: 0; }
  .overlaymessage { position: absolute; top: 50%; left: 50%; z-index: 1; }
}
#map-content.container-fluid { padding: 0 8px 0 10px; }
#map-canvas { height: 500px; border: 2px solid #EEE; }
#map-legend { background-color:#f5f5f5; padding: 10px; margin-bottom: 20px; border: 2px solid #EEE; }
#map-tools {
  .well {
    padding: 8px;
    .btn-toolbar { margin: 3px 0 0 0; }
  }
}
#legend-content { 
  font-size: 11px;
  span { padding-right: 20px; }
}
#legend-colors {
  font-size: 11px;
  margin: 0;
  padding: 0;
  li { list-style: none; float: left; margin-right: 10px;
    .legend-box { float: left; width: 10px; height: 10px; border: 1px solid #000; margin-right: 10px; }
  }
}
#map-buttons { position: absolute; left: 10px; bottom: 10px;}
#territory-data { 
  margin: 10px 0;
  a.current {
    padding-right: 12px;  
    background-repeat: no-repeat;  
    background-position: right center;
  }
  a.asc { background-image: url(image_path("up_arrow.gif")); }
  a.desc { background-image: url(image_path("down_arrow.gif")); }
}
#opportunity-count { float: right; font-style:italic; }
#sidebar {
  #new { padding-bottom: 50px; }
  #saved, #new { padding-top: 5px; min-height: 150px; position: relative; }
}
#map-interactions .well { padding: 12px 5px; }
#edit-territory { 
  position: relative;
  .cancel {
    position: absolute;
    top: 5px;
    right: 8px;
  }
}
ul#selected-regions {
  list-style-type: none;
  margin: 0; padding: 10px 5px 5px 0;
  li.region { padding-left: 8px; color: #0088CC; }
}
#sidebar-tab-content { padding: 0 15px; }
#assign-rep-form.modal { width: 300px; margin-left: -150px; }
select#available-reps { height: auto; }
[class^="icon-"],[class*=" icon-"]{background-image:url(image-path("glyphicons-halflings.png"))}
ul#territories { 
  font-size: 12px;
  margin: 0; padding: 10px 5px 5px 0;
  .active {
    a { color: #FFF; }
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
  }
  li {
    margin: 1px;
    padding: 3px 0;
    cursor: pointer;
    position: relative;
    list-style: none;
    .header { padding: 3px 8px 3px 0; }
    a.toggle { display: inline-block; padding: 0; margin: 0; }
    span.rep { font-style:italic; font-size: 11px;}
    a.edit { float: right; font-size: 10px; text-decoration: underline; padding: 0;}
    ul {
      margin:0; padding:0 0 5px 21px;
      li {padding:0 5px;}
    }
  }
}
