<div class="well">
  <button id="select-regions" class="btn primary">Select</button>
  <button id="reset-map" class="btn">Reset</button>
  <button id="save-select" class="btn">Save</button>
</div>
<div id="map-canvas"></div>
