<div id="map-canvas" class="row-fluid"></div>
<div id="map-legend" class="row-fluid"></div>
<div id="map-tools" class="row-fluid">
  <div class="well">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button rel="tooltip" title="Display unique datasets on the map" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Map Data <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="heat-custom">Custom Dataset</a></li>
          <li><a class="heat-nasdaq">NASDAQ</a></li>
          <li><a class="census-population">Population Data</a></li>
          <li><a class="census-business">Business Population Data</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button rel="tooltip" title="Choose the style to display records" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Display Style <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="remove-heat">None</a></li>
          <li><a class="display-markers">Markers</a></li>
          <li><a class="display-heat">Heatmap</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
